// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#include "Kurento-Library.xcconfig"
#include "../Pods/Target Support Files/Pods-KurentoToolbox-Static/Pods-KurentoToolbox-Static.release.xcconfig"

ONLY_ACTIVE_ARCH = NO

// Deployment
COPY_PHASE_STRIP = NO
//DEPLOYMENT_POSTPROCESSING = YES
//STRIP_STYLE = debugging
//STRIP_INSTALLED_PRODUCT = YES

// Build Options
VALIDATE_PRODUCT = YES

// Code Generation
GCC_OPTIMIZATION_LEVEL = s
GCC_GENERATE_DEBUGGING_SYMBOLS = NO

// Apple LLVM
OTHER_CFLAGS = $(inherited) -DNS_BLOCK_ASSERTIONS=1

//OTHER_LIBTOOLFLAGS = $(inherited) -l"SBJson" -l"SocketRocket" -l"WebRTC"
