//
//  Config.xcconfig
//  KurentoToolboxTestApp
//
//  Created by Marco Rossi on 09/11/15.
//  Copyright © 2015 Telecom Italia S.p.A. All rights reserved.
//

HEADER_SEARCH_PATHS = "${PODS_ROOT}/Headers/libjingle_peerconnection" $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/CocoaLumberjack" "${PODS_ROOT}/Headers/Public/SocketRocket" "${PODS_ROOT}/Headers/Public/libjingle_peerconnection" "${SRCROOT}/../Classes"
//OTHER_CFLAGS = $(inherited) -isystem "${PODS_ROOT}/Headers/Public" -isystem "${PODS_ROOT}/Headers/Public/CocoaLumberjack" -isystem "${PODS_ROOT}/Headers/Public/SocketRocket" -isystem "${PODS_ROOT}/Headers/Public/libjingle_peerconnection"
OTHER_LDFLAGS = $(inherited) -ObjC -l"c" -l"icucore" -l"sqlite3" -l"stdc++" -framework "AVFoundation" -framework "AudioToolbox" -framework "CFNetwork" -framework "CoreGraphics" -framework "CoreMedia" -framework "GLKit" -framework "Security" -framework "UIKit" -framework "VideoToolbox"
PODS_ROOT = ${SRCROOT}/../Pods